.DS_Store
espa*
ESPA*
LC08*
LE07*
LT05*
.Rproj.user
temp
**/temp/*
**/floating_forests_data/*
**/landsat_data/*
**/floating_forests_tiles/*
**/landsat_tiles/*
**/presence_absence/*
**/segmentation/*
data/presence_absence/META.RData
data/presence_absence/landsat_tiles/
data/segmentation/META.RData
data/segmentation/floating_forests_tiles/
data/segmentation/landsat_tiles/
.Rhistory
__MACOSX
